body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.custom-tooltip {
  text-align: center;
  width: 100px;
  height: 80px;
}

.custom-tooltip p {
  background: #282c35;
  color: #fff;
  /* height: 50%; */
  padding: 0 1rem;
}

.custom-tooltip span {
  background: #fff;
  color: #282c35;
  font-weight: 600;
  width: 100%;
  padding: 0 1rem;
}
